.fiche {
    width: 72%;
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 8rem;
}

.contenu_fiche {
    margin-bottom: 6rem;
}

.titre {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.sous-titre__fiche {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

/* ---  section personne  --- */

.image_personne {
    text-align: center;
}

.image_personne {
    width: 420px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.credit_image {
    margin-top: 0.8rem;
    font-size: 0.75rem;
    color: rgba(255,255,255,0.8);
    line-height: 1.5;
}

.biographie {
    max-width: 900px;
}

/* ---  section plaque  --- */

.section_plaque {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.épigraphe {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.image_plaque {
    width: 15rem;
}

.transcript {
    max-width: 400px;
    text-align: left;
}

/* ---  section carte  --- */

.section_carte {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
}

.carte_localisation {
    width: 420px;
    max-width: 100%;
}

.text_localisation {
    text-align: left;
}

.localisation {
    margin-left: 0.5rem;
}

.description_audio,
.preambule_audio,
.transcription_audio,
.credit_audio {
    max-width: 900px;
}

.lien_audio {
    width: 100%;
    max-width: 500px;
    margin: 2rem 0;
}