
.nav {
    font-family: "Amiri", serif;
    font-weight: 500;
    font-style: italic;
    font-size:1.0625em;
    margin-top: 30px;
    margin-bottom:20px;
}
.nav__control {
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    color:#fff;
    border: none;
    padding: 10px;
    min-width: 40px;
}
@media (min-width: 40rem) {
    .nav__list {
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 40rem) {
    .nav__control {
        display: none;
    }
}

.nav__control:hover,
.nav__control:active {
    border: 2px solid #AC4A5E;
    border-radius: 20px;
    background-color: color-mix(in srgb, #AC4A5E 20%, rgb(0, 0, 0) 10%);
}

.nav__control:focus {
    outline: none;
    outline-offset: -5px;
    
}


.nav__control:before {
    display: inline-block;
    content: "";
    width: 1em;
    height: 1em;
    margin-right:5px;
    align-items: center;
    
    background-image: url("../media/images/menu-ferme.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.nav--closed .nav__control:before {
    background-image: url("../media/images/menu-ouvert.png");
}

/* Liste du menu */
.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    align-items: flex-start;
    width: 100%;
}

@media (min-width: 40rem) {
    .nav__list-item {
        display: inline-block;
    }
}

/* Liens du menu */
.nav__link {
    display: block;
    padding: 5px 10px;
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    color: white;
}

.nav__link:hover {
    color: #AC4A5E;
    border: 2px solid #AC4A5E;
    border-radius: 20px;
}

.nav__link:active {
    color: #fff;
}


.nav__link:focus {
    color: #AC4A5E;
    background-color: color-mix(in srgb, #AC4A5E 20%, rgb(0, 0, 0) 10%);
    border: 2px solid #AC4A5E;
    border-radius: 20px;
}

@media (min-width: 40rem){
    .nav.footer ul.nav__list {
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 39.9375rem) {
    .js .nav__list {
        max-height: 100vh;
        overflow: hidden;
        transition: max-height 2s;
    }

    .js .nav--closed .nav__list {
        max-height: 0;
        transition: max-height 0.5s;
    }
}